h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. ????]
        p.mb-0 Diseñar actividades de componente psicosocial para el usuario de acuerdo con parametros de la actividad fisica.




