.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Consentimiento informado:
            | aceptación libre por parte de un paciente de un acto diagnóstico o terapéutico después de haberle comunicado adecuadamente su situación clínica.
        hr
        p
            strong.mr-2 Par-q #{"&"} you:
            | formulario diseñador para conocer a la situación física de las personas antes de iniciar las actividades físicas especialmente entre personas de 15 a 69 años.
        hr
        p
            strong.mr-2 Personalidad:
            | es el resultado de la articulación dinámica de los aspectos psicológicos (Intelectuales, afectivos, cognitivos y pulsionales) y biológicos (fisiológicos y morfológicos) característicos de cada persona y que les distinguen de los demás.   