.container#tema_4

    .header-ecored
        h1 4. Buenos hábitos para una vida saludable

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_4/img_4_01.svg", alt="", style="width:100%")       
        .col-12
          p La Organización Mundial de la Salud (2020) define la salud como “un estado de completo bienestar físico, mental y social”, lo que supone que este concepto va más allá de la existencia o no de una u otra enfermedad. En consecuencia, más que de una vida sana hay que hablar de un estilo de vida saludable del que forman parte la alimentación, el ejercicio físico, la prevención de la salud, el trabajo, la relación con el medio ambiente y la actividad social.
          p.mb-0 Desde esta perspectiva se puede determinar que los hábitos necesarios para llevar una vida saludable son los siguientes:

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_1
            h2 4.1 Ejercicio físico

      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_4/img_4_1_01.svg", alt="", style="width:100%")  

        .col-12
          p Las recomendaciones generales determinan unos 30 minutos diarios de actividad física, siendo suficiente caminar a paso rápido durante este tiempo. Ello permite quemar las calorías sobrantes y fortalecer músculos y huesos, pero también ayuda a controlar la tensión arterial, el colesterol y los niveles de glucosa en sangre, además de contribuir a la eliminación del estrés y ayudar a dormir mejor, adquirir un estado de relajación y evitar cambios de humor, mejorar la autoestima y el estado de satisfacción personal. También puede ser un buen medio para desarrollar una saludable actividad social cuando el ejercicio se hace en compañía.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_2
            h2 4.2 Dieta equilibrada

      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_4/img_4_2_01.svg", alt="", style="width:100%")  

        .col-12
          p Una alimentación saludable se rige por incluir todos los alimentos contemplados en la pirámide nutricional, pero en las proporciones adecuadas y en la cantidad suficiente (no más) para mantener las necesidades nutricionales del organismo en función del consumo energético que éste realiza con la actividad diaria. El valor energético diario de la dieta debe ser de 30-40 kilocalorías por hilo de peso. Los hidratos de carbono deben ocupar un 50-55% de los nutrientes, con no más de un 10% de azúcares simples. Las grasas han de ser un 30% del valor energético total, repartiéndose del siguiente modo: un 15-20% de grasas monoinsaturadas, un 5% de poliinsaturadas y no más de un 7-8% de saturadas. Las proteínas consumidas no deben superar el 10% de la dieta. Finalmente, se debe aportar al organismo unos 20-25 gramos de fibra vegetal.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_3
            h2 4.3 Higiene

      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_4/img_4_3_01.svg", alt="", style="width:100%")

        .col-12
          p Una higiene adecuada evita muchos problemas de salud: desde infecciones a problemas dentales o dermatológicos. El concepto de higiene no sólo se refiere al aseo y limpieza del cuerpo, sino que afecta también al ámbito doméstico.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema4_4
            h2 4.4 Malos hábitos

      .row.justify-content-center
        .col-12.col-lg-8.mb-5
          img(src="assets/images/pages/tema_4/img_4_4_01.svg", alt="", style="width:100%")

        .col-12
          p El tabaco, el alcohol y las drogas inciden de forma muy negativa sobre la salud. La única tolerancia se refiere exclusivamente al vino o la cerveza, de los que incluso se recomienda el consumo del equivalente a una copa diaria.