.container#tema_7

    .header-ecored
        h1 7. Tendencias de actividad física

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_7/img_7_01.svg", alt="", style="width:100%")       
        .col-12
          p En general se sabe que el ejercicio físico es bueno para la salud física, pero ¿sabía que está comprobado que hacer ejercicio regularmente también tiene efectos benéficos para la salud mental? Como lo dice Oller (2018) “en efecto, ejercitar el cuerpo puede ayudar a controlar y hasta aminorar algunas enfermedades de tipo mental, como depresión, ansiedad, trastorno por déficit de atención e hiperactividad, entre otras. Además de ayudar a liberarnos del estrés, el ejercicio es ideal para mejorar la memoria, favorecer un sueño nocturno profundo y, en general, para generar un mejor estado de ánimo”.

          p Adicionalmente Velasquez (2019) cita que “la organización Mundial de la  Salud indica que  al menos una cuarta parte de la población adulta del mundo, es decir, unos 1.400 millones de personas, se encuentra en peligro de sufrir enfermedades cardiovasculares, diabetes tipo 2, demencia y cáncer, debido al sedentarismo. Según un estudio realizado por investigadores de la OMS y publicado en The Lancet Global Health. Las tasas más altas de sedentarismo en adultos se registraron en 2016 en lugares como Kuwait, Samoa Americana, Arabia Saudí e Irak, donde más de la mitad de los adultos no realizaban la actividad suficiente para proteger su salud y tienen hábitos de sedentarismo” significando esto que la cantidad de sedentarios es muy alta y por ende la tendencia de la actividad física debe ir en aumento.

        .col-12.col-lg-9.my-5
          img(src="assets/images/pages/tema_7/img_7_02.svg", alt="", style="width:100%") 

        .col-12
          p Las tendencias en la actualidad tambien se rigen por el trabajo físico en casa y el trabajo en grupos pequeños o entrenamientos personalizados que ayudan a mejorar la condición física y mental, también se trabaja en ginmasios cerrados o al aire libre y en espacios amplios como caminata, correr o montar bicicleta entre otras actividades que les gusta a la gente y los ayudan a buscar sus metas personales a su medida en su tiempo y con sus condiciones personales.

          p.mb-0 También se hace mucha referencia al entrenamiento funcional que lo define Castillo (2020) como “un tipo de entrenamiento que modifica los objetivos tradicionales del entrenamiento clásico, que estos solían ser o los del alto rendimiento deportivo para deportista de élite, por lo que el entrenamiento de fuerza que estos empleaban tenía como objetivo lograr las mejores condiciones corporales para la competición en las diferentes disciplinas, o bien los de la musculación tipo culturismo cuyo objetivo central era conseguir el máximo desarrollo del músculo con un enfoque más estético que funcional. En cambio el entrenamiento funcional lo que busca es conseguir una rutina de ejercicios que sea útil a cualquier persona, sea deportista o no, y que estos entrenos le ayuden a estar en forma para su día a día” y es una de las tendencias más activas en la actualidad sea en cada o en centro de entrenamiento de manera asistida presencial, virtual o individualmente.