.container#tema_5

    .header-ecored
        h1 5. Gestión de cambio

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_5/img_5_01.svg", alt="", style="width:100%")       
        .col-12
          p El tiempo ha cambiado y con él tambien el trabajo de los médicos y las corporaciones y parafraseando a Irarrázaval, Prieto y Armijo (2016) es necesario reconocer que hace 100 años, la atención en salud estaba centrada en las enfermedades infecciosas agudas. Las enfermedades crónicas infecciosas y no infecciosas, como la tuberculosis, la sífilis, la lepra y las enfermedades mentales, con frecuencia estaban limitadas a los grandes hospitales o instituciones públicas, donde los tratamientos eran, en muchos casos, la privación de la libertad o la institucionalización. Actualmente, en Colombia y en la mayor parte de los países desarrollados, las enfermedades infecciosas agudas son, en su mayoría, prevenibles y/o curables. 

          p.mb-0 Muchas de las enfermedades crónicas de principios del siglo XX, como la lepra, la sífilis y hasta hace poco la tuberculosis y la poliomielitis, han llegado a ser tan raras como desconocidas para las nuevas generaciones de médicos. La excepción notable en esta historia de progreso es la enfermedad mental. A pesar de los nuevos medicamentos y tratamientos psicosociales, las enfermedades mentales, como la esquizofrenia y los trastornos del ánimo, son un problema importante de salud pública, prácticamente de la misma forma que lo eran hace un siglo. Las enfermedades mentales son reconocidas cada vez más como enfermedades crónicas y discapacitantes, que se asemejan, desde el punto de vista de su gravedad y costo, a las enfermedades cardiovasculares, el cáncer y la diabetes. Aun así, los investigadores continúan considerando el tratamiento de las enfermedades mentales como diferente de otras enfermedades médicas. Mientras los objetivos de la investigación biomédica para la enfermedad cardiovascular, la diabetes y el cáncer en general son la cura y la prevención, comparativamente existe poca investigación acerca de estos aspectos para la enfermedad mental. A pesar de lo anterior, la investigación en enfermedad mental ha tenido avances exponenciales durante las dos últimas décadas.