.container#tema_7

    .header-ecored
        h1 8. La actividad física y el estado físico

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_8/img_8_01.svg", alt="", style="width:90%")       
        .col-12
          p Las buenas prácticas de ejercicios físicos dependen del estado de cada persona, es por eso que todos los seres humanos no se pueden ejercitar de la misma manera ni por el mismo tiempo, según estas observaciones se necesita que cada persona se conozca y entienda hasta dónde puede llegar su exigencia sin desgastes elevados evitando así lesiones y fatigas. Para que entiendan mejor todos esos conceptos y algunos ejercicios base se recomienda revisar el siguiente recurso educativo.

      .row
        .col-auto.mt-5        
          a(href="download/CF3_1_Presentacion_actividad_fisica.pdf",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Recurso.] Presentación actividad física.
