.container#tema_6

    .header-ecored
        h1 6. Técnicas de intervención física responsable.

    .jumbotron.bg-white 
      .row.justify-content-center.mb-5
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_6/img_6_01.svg", alt="", style="width:100%")       
        .col-12
          p La forma de trabajo físico con los seres humanos y animales debe ser responsable, para eso se establecen unas estrategias de trabajo de la siguiente forma a manera de recomendación: 

      .row
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-0 #[strong Detección de estados mentales de riesgo], por ejemplo, personas con síntomas subumbrales, familiares de primer grado con enfermedad mental, episodios breves y autolimitados; déficits neuropsicológicos precoces y rasgos específicos de personalidad premórbida; biomarcadores séricos, imagenológicos, bioeléctricos y genéticos de endofenotipos de enfermedades mentales específicas o con alguna discapacidad notoria.

          .hr-divider.my-4
            
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-0 #[strong Programas de promoción de estilos de vida saludables] en salud mental como ejercicio físico, estrategias de resolución de problemas, pensamientos positivos, toma de decisiones y psicoeducación para prevenir ansiedad y depresión en poblaciones vulnerables.

          .hr-divider.my-4

          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-0 #[strong Prevención de situaciones de riesgo] que aumentan la probabilidad de enfermedad mental como por ejemplo, pobreza, aislamiento social, abuso y maltrato infantil, enfermedad mental perinatal de la madre, alimentación precaria del infante, acceso temprano a alcohol y drogas, inequidad socioeconómica e inestabilidad laboral, entre otros, con énfasis en intervenciones tempranas a lo largo de la infancia y todo el ciclo vital y focalizadas en poblaciones de riesgo, especialmente en países de medianos y bajos ingresos.